// Import Vendors
@import'vendor/reset';
@import'vendor/bootstrap-grid';
@import'vendor/owl.carousel';
@import'vendor/owl.theme.default';
@import'vendor/fontawesome';

// import theme
* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    // height: 10000px;
}

@import 'modules/colors';
@import 'modules/typography';
@import 'modules/utility';
@import 'modules/buttons';

// index.css
@import 'partials/slide';
@import 'partials/nav';
@import 'partials/aboutSection';
@import 'partials/serviceSection';
@import 'partials/quotesSection';
@import 'partials/portSection';
@import 'partials/contactSection';
@import 'partials/footer';

