footer
    .container
        ul.soial
            li 
                a(href="https://www.facebook.com/p0wer.50015" target="_blank")
                    i.fab.fa-facebook-f
            li 
                a(href="https://twitter.com/PowerMostafa2" target="_blank")
                    i.fab.fa-twitter
            li 
                a(href="https://www.instagram.com/power_mostafa/" target="_blank")
                    i.fab.fa-instagram
            li 
                a(href="https://wa.me/0201006716475" target="_blank")
                    i.fab.fa-whatsapp
            li 
                a(href="https://bitbucket.org/Power50015/" target="_blank")
                    i.fab.fa-bitbucket
            li 
                a(href="https://github.com/Power50015" target="_blank")
                    i.fab.fa-github-alt        
    .copy
        .container
            p
            | &copy; 2019 |
            i.fa.fa-value(aria-hidden='true') &nbsp;
            | Power-mostafa.com
            //- a(href="#") For src code 
script(src="assets/js/all-min.js")