meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
title Power Mostafa || #{title}
link(rel="stylesheet", href="assets/css/index.css")