nav
    .nav
        .container
            .logo.f-1 Power-Mostafa
            ul.large-nav
                - var linkName  = ['About', 'Service','Portfolio']
                - var linkUrl   = ['#','#','#']
                - var linkid    = ['about', 'service','port']
                +hyperList(linkName, linkUrl, linkid)
            a(href="#" class="nav-btn") 
                i(class="fas fa-bars")
            .clr
            ul.small-nav
                +hyperList(linkName, linkUrl, linkid)