include ./mixins/mixins
doctype
html(lang="en")
    head
        -var title = "Home"; 
        include ./theme/head
    body
        include ./layouts/slide
        include ./layouts/aboutSection
        include ./layouts/serviceSection
        include ./layouts/quotesSection
        include ./layouts/portSection
        //- include ./layouts/contactSection
        include ./theme/footer