section(class="about")
    div( class="container")
        .row
            .col-12.col-md-6.po-rel.about-img
                span(data-tilt-axis="x").po-abs.img-border
                img(src="assets/img/main.jpg", alt="alt" data-tilt-axis="x").w-100.po-rel
            .col-12.col-md-6
                h2 About Me
                p I'm a developer, love to learn and have a new experience in programming.
                    |Work as a front-end developer, Back-end Developer, and mobile developer, and have some experience in software engineering.
                    |always love to learn new technologies such as ( Ai - ML - DL )
                    |and the new technics like design patterns. 
                    |I always happy to wok with you, actually it's an honor to work with a friend

                .inf-card 
                    h3 Name : Mohamed Mostafa
                    h3 Birth Date : 2-1998
                    h3 City : El-Shorouk City - Cairo
                    h3 Experience : from 2017
                h2.skills-head My Skills
                ul.skills.row
                    li.col-lg-6.col-12
                        div
                            i(class="fas fa-american-sign-language-interpreting")
                            h3 Soft Skills
                    li.col-lg-6.col-12
                        div
                            i(class="fas fa-bolt")
                            h3 Software Engnnering
                    li.col-lg-6.col-12
                        div
                            i(class="fas fa-glass-whiskey")
                            h3 Leadership
                    li.col-lg-6.col-12
                        div
                            i(class="fas fa-highlighter")
                            h3 Problem Solving
                a(href="https://wuzzuf.net/me/Muhmmed-Mostafa-50015" class="d-block btn" target="_blank") More Information                 