//- <form id="contact_form" name="contact_form" class="contact-form" action="includes/contact.php" method="post" novalidate="novalidate">
section(class="contact")
    div( class="container")
        h2 Contact Me
        .row
            .col-12.col-lg-6
                ul.contact-list
                    li.row
                        .col-2.mt-2
                            span.icon
                                i.fas.fa-phone-alt
                        .col-10
                            h4.pb-2 Phone
                            h5 
                                 a(href="tel:0201117565755") 01006716475
                    li.row.mt-5
                        .col-2.mt-2
                            span.icon
                                i.fas.fa-envelope
                        .col-10
                            h4.pb-2 Email
                            h5 
                                a(href="mailto:power@gmail.com") powerismynickname2016@gmail.com
            .col-12.col-lg-6
                .contact-form
                    form(id="contact_form" name="contact_form" action="contact.php" method="post" novalidate="novalidate")
                        input(type="text", name="form_name" placeholder="Name").d-block.input
                        input(type="text", name="form_subject" placeholder="Subject").d-block.input
                        input(type="email", name="form_email" placeholder="Email").d-block.input
                        input(type="tel", name="form_phone" placeholder="Phone").d-block.input
                        textarea(name="form_message" rows="10" placeholder="Your Message Here").d-block.input
                        input(type="submit", value="Send").input