section.port
    .container-fluid
        h2 Portfolio
        .row.owl-carousel.owl-theme
            .item
                .overlay
                    .content
                        .container
                            h3 Bander 
                            p  An old open source project that <br>created by html and css only no js and no framework
                            a(href="//bander.power-mostafa.com" class="preview btn" target="_blank")
                                i(class="fas fa-link")
                            a(href="https://github.com/Power50015/Bander" class="source btn" target="_blank") 
                                i(class="fas  fa-eye")
                .item-img
                    img(src="assets/img/port/screencapture-file-D-Documents-My-Portfolio-Bander-index-html-2019-09-27-10_11_20.png")
            .item
                .overlay
                    .content
                        .container
                            h3 InteractiveAgency 
                            p  An old open source project that <br>created by Bootstrap 3
                            a(href="//InteractiveAgency.power-mostafa.com" class="preview btn")
                                i(class="fas fa-link")
                            a(href="https://github.com/Power50015/InteractiveAgency" class="source btn") 
                                i(class="fas  fa-eye")
                .item-img
                    img(src="assets/img/port/screencapture-file-D-Documents-My-Portfolio-InteractiveAgency-index-html-2019-09-27-10_10_33.png")
            .item
                .overlay
                    .content
                        .container
                            h3 ZACETEK 
                            p   An old open source project that <br>created by Bootstrap 3 
                            a(href="//ZACETEK.power-mostafa.com" class="preview btn")
                                i(class="fas fa-link")
                            a(href="https://github.com/Power50015/ZACETEK" class="source btn") 
                                i(class="fas  fa-eye")
                .item-img
                    img(src="assets/img/port/screencapture-file-D-Documents-My-Portfolio-ZACETEK-index-html-2019-09-27-10_09_42.png")
            .item
                .overlay
                    .content
                        .container
                            h3 consult 
                            p   An open source project that <br>created by Bootstrap 4 with out any extrnal plg 
                            a(href="//ZACETEK.power-mostafa.com" class="preview btn")
                                i(class="fas fa-link")
                            a(href="https://github.com/Power50015/ZACETEK" class="source btn") 
                                i(class="fas  fa-eye")
                .item-img
                    img(src="assets/img/port/consult.png")
            .item
                .overlay
                    .content
                        .container
                            h3 Sho8lana 
                            p  My graduation project <br>created by Bootstrap 4, php & MYsql<br>
                             | Sho8lana is freelancer market place
                            a(href="//Sho8lana.power-mostafa.com" class="preview btn")
                                i(class="fas fa-link")
                            a(href="https://github.com/Power50015/Sho8lana" class="source btn") 
                                i(class="fas  fa-eye")
                .item-img
                    img(src="assets/img/port/home.jpg")