section(class="service")
    .container
        h2 Service
        .row
            .col-12.col-lg-4.mb-5.mt-5
                .item
                    i.fab.fa-connectdevelop
                    h3 Software Analysis
                    p I use the most common tools & technique in management & software like agile technique, PhotoShop, IEEE SRS and much more.
            .col-12.col-lg-4.mb-5.mt-5
                .item
                    i.fas.fa-code
                    h3 App Development
                    p I have experience with many different kinds of apps like accounting & management apps because I studied it in college.
            .col-12.col-lg-4.mb-5.mt-5
                .item
                    i.fas.fa-desktop
                    h3 Web Development
                    p I have very good experience in programming and use the newest tools in programing PHP, Laravel, Vue.js, Sass, Pug ... etc.
    .container-fluid.p-0.why.bg-2
        .row.p-0
            .col-12.col-lg-6.p-0
                img(src="assets/img/DSC_0067.jpg" alt="alt").w-100.h-100 
            .col-12.col-lg-6.f-c-5
                h2.p-1.f-c-5 Why Choose me !?
                .row
                    .col-12.col-lg-6
                        .item.mb-5
                            h3 
                                i.fas.fa-comment-dollar
                                |Save Time & Money
                            p Planning is important thing, so I use agile methodology to get the best work in less time, and the top techniques in an analysis like IEEE srs.
                    .col-12.col-lg-6
                        .item.mb-5
                            h3 
                                i.fas.fa-book-reader
                                |Ability To Learn
                            p you don't know what you don't know, so I always push myself up and keep going, attend in events in programing and something like that to keep me update.
                    .col-12.col-lg-6
                        .item.mb-5
                            h3 
                                i.fas.fa-toolbox
                                |High Quality
                            p Using top techniques in design and programing like Adobe XD In design. and design pattern in my clean code.
                    .col-12.col-lg-6
                        .item.mb-5.pb-lg-0.pb-5
                            h3 
                                i.fas.fa-user-astronaut
                                |User Experience
                            p Using the top techniques in Principles of Graphic Design, using photoshop and the newest trending in design.
