header
    include ../theme/nav
    div( class="container slide")
        .row.js-tilt.my-5.my-md-auto.my-5
            img(src="assets/img/main.png", alt="My photo" class="col-12 col-md-7 order-md-last order-first mt-md-auto mt-5")
            .col-12.col-md-5.f-c-1 
                h1 Hi! 
                h2 I'm Power Mostafa
                h2.pb-5 Love to see you
            
             
