.about {
  background-color: $color-1;
  position: relative;
  margin-bottom: 150px;
  width: 100%;
  &::before {
    content: "";
    position: absolute;
    top: -150px;
    border-right: 100vw solid $color-1;
    border-top: 150px solid transparent;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: -150px;
    border-left: 100vw solid $color-1;
    border-bottom: 150px solid transparent;
  }
  h2 {
    font-size: 2rem;
    color: $color-2;
    margin: 50px 0;
    position: relative;
    &::after {
      background: $color-5;
    }
  }
  .row {
    padding-top: 50px;
    .about-img {
      margin: 50px 0;
      .img-border {
        border: 10px solid #eee;
        width: 100%;
        height: 100%;
        top: -35px;
        left: -40px;
        will-change: transform;
        transform: perspective(500px) rotateX(0deg) rotateY(4.98deg)
          scale3d(1, 1, 1);
      }
      img {
        transform: perspective(500px) rotateX(0deg) rotateY(-4.37deg)
          scale3d(1, 1, 1);
        will-change: transform;
        height: 90%;
      }
    }
    .inf-card {
      border: 1px solid $color-5;
      text-align: center;
      padding: 25px 0;
      margin: 60px 30px;
      transition: all 0.6s;
      &:hover {
        box-shadow: 17px 17px $color-5;
      }
    }
    h3 {
      color: $color-5;
      padding: 10px 0;
    }
    p {
      color: $color-5;
      line-height: 2rem;
    }
  }
  .skills-head {
    padding: 0;
    margin: 0;
  }
  .skills {
    text-align: center;
    padding: 30px 0;

    li {
      padding: 20px 1%;
      div {
        display: inline-block;
        padding: 30px;
        height: 100%;
        width: 100%;
        background-color: $color-1;
        border: 1px solid $color-4;
        transition: all 0.6s;
        i {
          font-size: 2.5rem;
          color: $color-2;
          padding: 0 15px;
        }
        h3 {
          font-size: 1.3rem;
        }
        &:hover {
          background-color: $color-5;
          border: 1px solid $color-1;
          transition: all 0.6s;
          i,
          h3 {
            color: $color-1;
          }
        }
      }
    }
  }
  a.btn {
    margin: 0px 100px 50px;
    color: $color-5;
    &:hover{
      background-color: $color-5;
      color: $color-2;
      transition: all 0.6s;
    }
  }
}
