.contact {
  background-color: $color-1;
  position: relative;
  margin-bottom: 100px;
  width: 100%;
  &::before {
    content: "";
    position: absolute;
    top: -150px;
    border-right: 100vw solid $color-1;
    border-top: 150px solid transparent;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: -100px;
    border-left: 100vw solid $color-1;
    border-bottom: 100px solid transparent;
  }
  h2 {
    font-size: 2rem;
    color: $color-2;
    margin: 50px 0;
    position: relative;
    &::after {
      background: $color-5;
    }
  }
  .contact-list {
    li {
      margin: 100px 0;
      .icon {
        margin-top: 15px;
        background-color: $color-2;
        color: $color-1;
        padding: 20px 25px;
        border: 1px solid $color-5;
        border-radius: 50%;
        font-size: 2rem;
      }
      h4,
      h5 {
        padding-left: 15px;
        color: #fff;
        font-size: 1.4rem;
      }
      a {
        color: $color-5;
        text-decoration: none;
      }
    }
  }
  .contact-form {
    .input {
      width: 100%;
      font-size: 1.4rem;
      border: none;
      margin-bottom: 15px;
      padding: 10px 5px;
      opacity: 0.5;
      transition: all 0.2s;
      &:focus{
        border-bottom: 4px solid $color-2;
        opacity: 1;
        transition: all 0.2s;
      }
    }
  }
}
