nav {
  width: 100%;
  min-height: 50px;
  .nav{
    padding: 20px 0 15px 0;
    position: relative;
    width: 100%;
    top: 0;
    z-index: 9999;
    background-color: $color-5;
    @media (max-width: 800px) {
      padding: 10px 0;
    }
    .logo {
      @media (max-width: 800px) {
        width: 50%;
      }
      float: left;
      color: $color-1;
      &::first-letter {
        font-weight: 700;
        font-size: 190%;
        color: $color-2;
      }
    }
    // large screen
    .large-nav {
      @media (min-width: 800px) {
        display: block;
      }
      text-align: right;
      margin: 10px 0;
      display: none;
      li {
        display: inline-block;
        margin: 10px 0;
        a {
          text-decoration: none;
          padding: 0 15px;
          color: $color-1;
          font-weight: 700;
          display: block;
          &.active{
            color: $color-2;
          }
        }
      }
    }
    // small screen
    .small-nav {
      display: none;
      position: absolute;
      width: 100%;
      right: 0;
      z-index: 9999;
      background-color: $color-5;
      li {
        display: block;
        text-align: center;
        width: 100%;
        padding: 20px 0;
        a {
          text-decoration: none;
          color: $color-1;
          font-size: 1.3rem;
        }
      }
    }
    .nav-btn {
      @media (min-width: 800px) {
        display: none;
      }
      display: block;
      font-size: 35px;
      text-decoration: none;
      text-align: right;
      color: $color-1;
      width: 50%;
      float: right;
    }
  }
}
