.port {
  margin-bottom: 200px;
  h2 {
    font-size: 3rem;
    color: $color-2;
    margin: 50px 0;
    position: relative;
  }
  h2 {
    &::after {
      background: $color-1;
    }
  }
  .row {
    .item {
      position: relative;
      height: 500px;
      overflow: hidden;
      margin-bottom: 30px;
      .item-img {
        position: relative;
        height: 100%;
        img {
          position: absolute;
          width: 100%;
          height: 1000px;
          top: 0;
          transition: all 1s;
        }
      }
      .overlay {
        position: absolute;
        z-index: 300;
        background-color: #000;
        height: 100%;
        width: 100%;
        top: 1000px;
        bottom: 0;
        right: 0;
        left: 0;
        opacity: 0.9;
        transition: all 0.6s;
        .content {
          color: $color-5;
          text-align: center;
          padding-top: 30px;
          h3 {
            padding: 10px 0;
            font-size: 1.4rem;
          }
          p {
            line-height: 1.5rem;
            padding-bottom: 2rem;
            font-size: 1.2rem;
          }
          .btn {
            color: $color-1;
            margin: 5px;
            &:hover {
              color: $color-2;
            }
          }
        }
      }
      &:hover {
        img {
          top: -500px;
          transition: all 1s;
        }
        .overlay {
          top: 0px;
          transition: all 0.6s;
        }
      }
    }
  }
}
.owl-nav {
  font-size: 50px !important;
  color: $color-2 !important;
}
