.quotes {
  min-height: 300px;
  background-color: $color-1;
  color: $color-5;
  position: relative;
  margin-bottom: 150px;
  &::before {
    content: "";
    position: absolute;
    top: -100px;
    border-left: 100vw solid $color-1;
    border-top: 100px solid transparent;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: -100px;
    border-right: 100vw solid $color-1;
    border-bottom: 100px solid transparent;
  }
  .container {
    i {
      font-size: 3rem;
      display: block;
      color: $color-2;
    }
    q {
      display: block;
      font-size: 2rem;
      text-align: center;
    }
    p {
      text-align: right;
    }
  }
}