.service {
  h2 {
    font-size: 3rem;
    color: $color-2;
    margin: 50px 0;
    position: relative;
  }
  h2 {
    &::after {
      background: $color-1;
    }
  }
  .container {
    padding: 20px 0 100px;
    .item {
      border-radius: 3px;
      text-align: center;
      padding: 15px 0 0 0;
      i {
        color: $color-2;
        font-size: 4rem;
      }
      h3 {
        color: $color-1;
        padding-bottom: 15px;
        font-size: 2rem;
        padding-top: 20px;
      }
      p {
        padding: 15px 5px;
        line-height: 1.5rem;
        text-align: center;
      }
    }
  }
  .why {
    .item {
      h3 {
        color: $color-1;
        i {
          font-size: 2rem;
          padding-right: 20px;
        }
        font-size: 1.5rem;
      }
      p {
        padding: 10px 0;
        line-height: 25px;
      }
    }
  }
}
