header {
  // min-height: 100vh;
  width: 100%;
  // margin-top: 30px;
  .slide {
    margin-top: 100px;
    h1 {
      font-size: 5rem;
      margin-top: 100px;
      margin-bottom: 100px;
    }
    h2 {
      font-size: 3rem;
      line-height: 5rem;
    }
  }
}
