$color-1:#222222;
$color-2:#F2424C;
$color-3:#8799A3;
$color-4:#444444;
$color-5:#fff;
.bg-1 {
    background-color: $color-1
}

.bg-2 {
    background-color: $color-2
}

.bg-3 {
    background-color: $color-3
}

.bg-4 {
    background-color: $color-4
}

.bg-5 {
    background-color: $color-5
}

.f-c-1 {
    color: $color-1
}

.f-c-2 {
    color: $color-2
}

.f-c-3 {
    color: $color-3
}

.f-c-4 {
    color: $color-4
}

.f-c-5 {
    color: $color-5 !important
}