$main-dir: left;
.w-100 {
    width: 100%;
}
.w-50{
    width: 50%;;
}
.h-100 {
    height: 100%;
}

.po-abs {
    position: absolute;
}

.po-rel {
    position: relative;
}
.clr{
    clear: both;
}
section {
    h2 {
        &::after {
            content: "";
            width: 0%;
            height: 3px;
            position: absolute;
            bottom: -7px;
            left: -3px;
            transition: all 1s;
        }
    }
    &:hover {
        h2 {
            &::after {
                content: "";
                width: 11%;
                height: 3px;
                position: absolute;
                bottom: -7px;
                left: -3px;
                transition: all 1s;
            }
        }
    }
}